 <!--footer.ejs | Vincent Chen | 301245927 | September 30, 2023 -->
 <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>