<!--index.ejs | Vincent Chen | 301245927 | September 30, 2023 -->
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <div class="fade-in-text">
    <h1>Vincent Chen EXpress</h1>
    <hr><br><br><br><br>
    <h2>Welcome</h2>
    <hr>
    <p>As a hard working and diligent game developer, Vincent Chen invites you to experience his plethora of works.
      A visionary for creative ideas and thought, Vincent is dedicated to his craftmanship, which hopes to leave you with a lasting impact.
      Come along a ride, that traverses through major elements of design and code.
    </p>
    <h2>Mission Statement</h2>
    <hr>
    <p>The mission of Vincent Chen EXpress is to provide an high level of service and 
      expertise in game development that is quality and seemless. 
      Vincent is dedicated to the highest standards, systems and 
      performance necessary to fulfill all of your gaming dreams.</p>
    <img alt="Fox" class="floatRight" height="500" src="img/Fox.gif" width="500">
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="fade-in-text">
    <h3>Other content</h3>
    <div class = "listhover">
    <div id = "listhover-nav-item">
    <a href="/about"><h4>Check out the About me page</h4></a>
    </div>
    <div id = "listhover-nav-item">
    <a href="/contact"><h4>Check out the Contacts page</h4></a>
    </div>
    <div id = "listhover-nav-item">
    <a href="/project"><h4>Check out the Projects page</h4></a>
    </div>
  </div>
</div>
  <br><br><br><br>
</div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   